<div class="container mt-5 mb-5">
    <h1 class="text-center">Fale Conosco</h1>
    <img src=" " width="100%" />
    <p class="text"> <strong>Estado:</strong> Mato Grosso &nbsp;| &nbsp; <Strong><i class="bi bi-whatsapp"
                style="color: rgb(3, 141, 3);"></i> Whatsapp: </Strong> +55 66 984244569 <br>
        <strong>Cidade:</strong> Colniza-MT &nbsp; &nbsp;| &nbsp; <a
            href="https://www.facebook.com/watch/?v=285803098688250" target="_blank"><i class="bi bi-facebook"
                style="color: rgb(73, 122, 255);"></i> Facebook</a> <br>
        <strong>Rua: </strong> Cidade Alta &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; <a
            href="https://www.instagram.com/mateussilvapereira2018/" target="_blank"><i class="bi bi-instagram"
                style="color: rgb(199, 58, 161);"></i> Instagram</a> <br><br>
        <a href="https://www.linkedin.com/in/mateus-silva-pereira/" target="_blank"><i class="bi bi-linkedin"
                style="color: rgb(0, 156, 203);"></i> Linkedin</a> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        <a href="https://github.com/MateusSilvaPereira/" target="_blank"><i class="bi bi-github"
                style="color: rgb(0, 0, 0);"></i> GitHub</a>
    </p>

    <form class="col-lg-8">
        <div class="row">

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control mt-3" placeholder="Digite seu Nome" />
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control mt-3" placeholder="Digite seu Sobrenome" />
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control mt-3" placeholder="Digite seu E-mail" />
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control mt-3" placeholder="Digite seu Telefone" />
            </div>

            <div class="col-lg-6 mt-2 mb-2 text-center">
                <button class="btn btn-md btn-success" routerLink="#">
                    Enviar <i class="bi bi-send"></i></button>
                </div>
            <div class="col-lg-6 mt-2 mb-2 text-center">
                    <a routerLink="../menu" class="btn btn-md btn-primary mb-5"><i class="bi bi-arrow-left"></i> Voltar</a>
            </div>
        </div>
    </form>

</div>





