.text{
    font: oblique;
    color: rgb(101, 98, 92);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    line-height: 2rem;
}

.btn{
    color: white;
    background-color: chocolate;
    border: none;

}