<div class="container mt-5 mb-5">
    <h1 class="text-center">Sobre Nos</h1>
    <img src=" " width="100%"/>
    <p class="text">Seja bem vindo ao sistema  Delivery, desenvolvido por Mateus Silva Pereira, Tecnólogo em Análise E Desenvolvimento de Sistema, o sistema foi desenvolvido utilizando o framework Angula 13 <br>
        e também HTML5 | CSS | TypeScript | Bootstrap5, o sistema é um delivery para entrega de pedidos!
    </p>

    <button class="btn btn-md btn-primary" routerLink="../menu"> <i class="bi bi-arrow-return-left"></i> Voltar</button>
</div>